<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Search Engine</title>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>

    <h1>Search Engine!</h1>

    <form action="/search/results" method="POST">
      <label for="query">Search:</label>
      <input type="text" id="query" name="query" required />
      <label for="database">Database:</label>
      <select id="database" name="database" required>
        <option value="Postgres">Postgres</option>
        <option value="MongoDB">MongoDB</option>
        <option value="Both">Both</option>
      </select>
      <button type="submit">Search!</button>
    </form>

    <% if (results && results.length > 0) { %>
    <h2>Search Results for "<%= query %>"</h2>
    <ul>
      <% results.forEach(result => { %>
      <li>
        <%= result.name %> - <%= result.description %> - $<%= result.price %>
      </li>
      <% }) %>
    </ul>
    <% } %>
  </body>
</html>
